# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/coverage/components/clinical_note/AddNoteButton.jsx.html
/coverage/base.css
/coverage/block-navigation.js
/coverage/components/appointment/CancelConfirmModal.jsx.html
/coverage/screens/ClinicalNoteScreen.jsx.html
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/screens/EditAppointmentScreen.jsx.html
/coverage/favicon.png
/coverage/screens/HelpScreen.jsx.html
/coverage/screens/HomeScreen.jsx.html
/coverage/components/common/Icons.jsx.html
/coverage/screens/InboxScreen.jsx.html
/coverage/assets/index.html
/coverage/components/appointment/index.html
/coverage/components/clinical_note/index.html
/coverage/components/common/index.html
/coverage/components/layout/index.html
/coverage/components/schedule/index.html
/coverage/screens/index.html
/coverage/styles/index.html
/coverage/index.html
/coverage/styles/index.js.html
/coverage/assets/logoBlue.png.html
/coverage/components/common/Modal.jsx.html
/coverage/components/clinical_note/NoteCard.jsx.html
/coverage/screens/PatientRecordScreen.jsx.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/screens/ProfileScreen.jsx.html
/coverage/screens/ScheduleScreen.jsx.html
/coverage/components/schedule/Scheduleutils.js.html
/coverage/screens/SettingsScreen.jsx.html
/coverage/screens/SignInScreen.jsx.html
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/screens/SplashScreen.jsx.html
/coverage/styles/theme.js.html
/coverage/components/layout/TopHeader.jsx.html
